.carousel {
    color: #fff;
    margin: 0 -15px;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel > div.inner-wrapper {
    overflow: hidden;
    margin-left: 50px;
    width: calc(100% - 100px);
}
.carousel .carousel-inner {
    position: relative;
    left: 0;
    -webkit-transition: left 400ms ease;
    -moz-transition: left 400ms ease;
    -ms-transition: left 400ms ease;
    -o-transition: left 400ms ease;
    transition: left 400ms ease;
    width: 1000%;
}
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 20px);
    height: 40px;
    width: 40px;
}

.carousel .carousel-control-prev:hover,
.carousel .carousel-control-next:hover {
    border: 3px solid #fff;
}


.tile {
    display: block;
    float: left;
    text-align: center;
    margin: 0;
    min-width: 150px;
    min-height: 150px;
}
.tile:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 539px) {
    .carousel > div.inner-wrapper {
        margin: 0;
        overflow: auto;
        width: 100vw;
    }

    .tile {
        float: none;
        min-width: 100vw !important;
        border-bottom: 3px solid rgba(0, 0, 0, 0.35);
    }

    .carousel .carousel-control-prev,
    .carousel .carousel-control-next {
        display: none;
    }
}